<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--enables responsive layout on smartphones-->
  <title>Garden Bugs: Friend or Foe?</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/hamburger-styles.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
</head>
<body>

{% include nav.html %}

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>

<div class="site-wrap">
	  <!-- insert the rest of your page markup here -->
	  {{content}}
</div>


</body>
</html>